
body {
    background-color: rgb(252, 252, 252);
}

body * {
    font-family: sans-serif;
}

/* START OF HEADER AND NAVBAR */
/* this part of css is related to header and navbar */
#navbar {
    padding: 30px 0 10px 0;
    border-radius: 10px;
}

/* this is clear fix  */
#navbar::after {
    content: "";
    clear: both;
    display: block;
}

#navbar #logosection {
    float: left;
    height: 50px;
    width: 33%;
    display: flex;
    justify-content: center;
}



#nav {
    float: right;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42%;
}

#nav a {
    color: rgb(44, 44, 44);
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    cursor: pointer;
    text-shadow: 5px 5px 5px rgb(184, 184, 184);
}

#nav a:first-child{
    color: rgb(224, 70, 70);
}
#search {
    float: right;
    width: 25%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search * {
    height: 40px;
    box-sizing: content-box;
    border: none;
}

#search input {
    width: 60%;
    outline: none;
    padding: 0 50px;
    box-shadow: 0px 5px 5px rgb(233, 233, 233);
    border-radius: 20px;
}

#search button {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    cursor: pointer;
}

#search button:first-child {
    
    margin-right: -60px;
    z-index: 10;
}

#search button:last-child {
    
    margin-left: -60px;
    z-index: 10;
    border-left: 1px solid rgb(192, 192, 192);

}


#search button img {
    height: 25px;
}


@media (max-width: 992px){
    #navbar header {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
    }

    #navbar header>* {
        margin-bottom: 20px;
    } 

    div#logosection {
        float: none !important;
        width: 100% !important;
    }

    #nav {
        float: none !important;
        width: 100% !important;
    }

    #search {
        float: none !important;
        justify-content: center !important;
        width: 100% !important;
    }

    #search input {
        width: 300px !important;
    }
}
/* END OF HEADER AND NAVBAR */
/* START OF main-body SECTION */

#main-body {
    width: 75%;
    margin: auto;
}

#top-section {
    display: flex;
    padding-top: 50px;
}

#top-section>div {
    width: 50%;
    box-sizing: border-box;
}

#content {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

#tag-section {
    display: flex;
    align-items: center;
}

#tag-section>*{
    cursor: pointer;
}


#tag {
    padding: 15px 50px 15px 20px;
    background-color: #FDEBEB;
    border-radius: 50px;
    color: #F55556;
    transition: box-shadow 0.1s;
}

#tag:hover {
    box-shadow: 2px 2px 5px rgb(247, 206, 206);
}

#tag-section img {
    margin-top: 20px;
    margin-left: -65px;
}

#topic {
    margin: 0;
    font-size: 65px;
    color: #2E2E2E;
}

#topic #red-text {
    font-weight: 300;
    color: #F54748;
}

#top-section p {
    color: #676767;
    font-size: 20px;
    line-height: 30px;
}